/* HomeOrChallenges.jsx */
/* section 'achievements' */
.achievements,
.cardHeading {
  background-color: #003145;
}

/* custom font-size */
.custom-fontSize {
  font-size: 0.8rem;
}

/* section challenges-List */
#challenges-List {
  background-color: #002a3b;
}

/* custom-input class*/
.custom-input {
  background-image: url("./assests2/searchIcon.png");
  background-position: 20px 12px;
  background-repeat: no-repeat;
  font-size: 16px;

  border: none;
  border-bottom: 1px solid #ddd;
}

/* card-button */
.card-button {
  background-image: url("./assests2/checkIcon.png");
  background-position: 3% center;
  background-color: #44924c;
  background-repeat: no-repeat;
}

.card-button:hover {
  background-color: #1bae2a;
}

/* ChallengeDetails.jsx */

.custom-font-Size {
  font-size: 1.2vmax;
}

.heading {
  font-size: 3vmax;
}

.subText {
  font-size: 1.5vmax;
}
